{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
  window.addEventListener("load", function () {
    let list_editable_changed = false;

    Array.from(document.getElementById("result_list").tBodies).forEach(
      function (el) {
        el.addEventListener("change", function (event) {
          list_editable_changed = true;
        });
      }
    );

    document
      .querySelector("#changelist-form input[name=_save]")
      .addEventListener("click", function (event) {
        list_editable_changed = false;
      });

    window.addEventListener("beforeunload", (event) => {
      if (list_editable_changed) {
        event.preventDefault();
      }
    });
  });
</script>
{% endblock %}
