{% extends 'admin/base_site.html' %} {% load static %} {% block extrastyle %}
{{block.super}}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'admin/css/forms.css' %}"
/>

<style>
  form .aligned ul {
    margin-left: 0;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
</style>
{{ form.media }} {% endblock %} {% block content %}
<div id="content-main">
  <form method="post" novalidate>
    {% csrf_token %} {% if form.errors %}
    <p class="errornote">Please correct the errors below.</p>
    {% endif %}

    <fieldset class="module aligned">
      <div class="form-row">
        <label>Selected sponsores:</label>
        <div class="readonly">
          <ul>
            {% for sponsor in sponsors %}
            <li>
              <a href="{% url 'admin:replant_sponsor_change' sponsor.id %}">
                {{ sponsor.name }}
              </a>
              <div>
                Assigned trees {{sponsor.assigned_trees}} /
                {{sponsor.nft_ordered}} {% if sponsor.trees_given %}<span
                  class="green"
                >
                  <b>+{{sponsor.trees_given}}</b>
                </span>
                {% endif %}
              </div>
              <div><b>Trees left {{sponsor.trees_to_assign}}</b></div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% if organization %}
      <div class="form-row">
        <label>Organization:</label>
        <div class="readonly">
          <a
            href="{% url 'admin:replant_plantingorganization_change' organization.id %}"
          >
            {{ organization }}
          </a>
          have <b>{{trees_count}} trees unassigned</b>
          {% if total_assigned_trees %}
          <span class="red"><b>-{{total_assigned_trees}}</b></span>
          {% endif %}
        </div>
      </div>
      {% else %} {{ form }} {% endif %}
    </fieldset>

    {% if total_assigned_trees %}
    <input type="hidden" name="step2" value="1" />
    <input type="hidden" name="organization" value="{{organization.id}}" />
    {% endif %}

    <div class="submit-row">
      <input type="submit" class="default" value="{{action_label}}" />
      <a href="{% url 'admin:replant_sponsor_changelist' %}" class="closelink">
        Close
      </a>
    </div>
  </form>
</div>
{% endblock %}
