{% extends 'emails/base.html' %}
{% load static %}

{% block content %}
<mj-section>
    <mj-column>
        <mj-text mj-class="content-body">
            Lorem ipsum dolor sit amet consectetur adipiscing elit habitant interdum porttitor at,
            parturient ligula quisque fames turpis ullamcorper iaculis eget dictum.
            Quam lectus torquent potenti suspendisse.
        </mj-text>
        <mj-button href="{{ BACKEND_URL }}">Lorem ipsum dolor sit amet</mj-button>
    </mj-column>
</mj-section>
{% endblock %}
